{% set _content_title = 'Accueil - Tableau de bord' %}

{% extends easyadmin_config('design.templates.layout') %}

{% block content_title %}Tableau de bord{% endblock %}

{% block main %}
    <section id="main" class="content-body mx-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6 pl-0 pr-1">
                    <table class="table datagrid mb-2 p-2">
                        <thead>
                        <tr>
                            <th><a href="#">Produit</a></th>
                            <th><a href="#">Prix</a></th>
                            <th><a href="#">Stock</a></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in lastProducts %}
                            <tr>
                                <td class="string">{{ product.name }}</td>
                                <td class="integer">{{ product.price }}</td>
                                <td class="integer">{{ product.stock }}</td>
                                <td>
                                    <a href="{{ path('easyadmin', {
                                        'action': 'show',
                                        'entity': 'Product',
                                        'id': product.id
                                    }) }}"> {{ 'links_to_page'|trans|raw }}
                                    </a>
                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="4" class="text-center">
                                    <a href="{{ path('easyadmin', {
                                        'action': 'list',
                                        'entity': 'Product'
                                    }) }}">{{ 'seeMore'|trans|raw }}.</a>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                    <table class="table datagrid mt-2 p-2">
                        <thead>
                        <tr>
                            <th><a href="#">Recette</a></th>
                            <th><a href="#">Date</a></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for diy in lastDiy %}
                            <tr>
                                <td class="string">{{ diy.name }}</td>
                                <td class="sorted datetime ">{{ diy.updatedAt|date("d/m/Y") }}</td>
                                <td>
                                    <a href="{{ path('easyadmin', {
                                        'action': 'show',
                                        'entity': 'Diy',
                                        'id': diy.id
                                    }) }}"> {{ 'links_to_page'|trans|raw }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="4" class="text-center">
                                    <a href="{{ path('easyadmin', {
                                        'action': 'list',
                                        'entity': 'Diy'
                                    }) }}">{{ 'seeMore'|trans|raw }}</a>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="col-6 pr-0 pl-1">
                    <table class="table datagrid mb-2 p-2">
                        <thead>
                        <tr>
                            <th><a href="#">Acheteur</a></th>
                            <th><a href="#">Date de la commande</a></th>
                            <th><a href="#">Total</a></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for purchase in lastPurchases %}
                            <tr>
                                <td class="string">{{ purchase.buyer }}</td>
                                <td class="integer">{{ purchase.createdAt|date("d/m/Y") }}</td>
                                <td class="integer">{{ purchase.total }}</td>
                                <td>
                                    <a href="{{ path('easyadmin', {
                                         'action': 'show',
                                         'entity': 'Purchase',
                                         'id': purchase.id
                                        }) }}"> {{ 'links_to_page'|trans|raw }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th colspan="4" class="text-center">
                                <a href="{{ path('easyadmin', {
                                    'action': 'list',
                                    'entity': 'Purchase'
                                }) }}">{{ 'seeMore'|trans|raw }}</a>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
