{% extends 'front_office/layout.html.twig' %}

{% block links %}
    {{ encore_entry_link_tags('cmsList', null, 'front_office') }}
{% endblock %}

{% block main %}
    {% if  cmsPages.currentPage == 1 %}
        <div class="top-page">
            <div class="green-top-page">
                <h1 class="gel-bold">{{ category.name }}</h1>
                <p class="gel">{{ category.description }}</p>
            </div>
            {% if category.image|default(false) %}
                <div>
                    <img src="{{ vich_uploader_asset(category, 'imageFile')}}">
                </div>
            {% endif %}
        </div>
    {% endif %}

    <div class="cont-item">
        {% for cmsPage in cmsPages %}
            <div>
                <div class="cont-item-img">
                    <a href="{{ path('cmsShow',{ slug: cmsPage.slug }) }}"><img src="{{ vich_uploader_asset(cmsPage, 'imageFile') }}" alt="{{ cmsPage.image }}"></a>
                </div>
                <p class="gel-bold">{{ cmsPage.name }}</p>
            </div>
        {% endfor %}
    </div>

    {{ paginate(cmsPages, 'cmsCategoryList', 4)|raw }}

{% endblock %}

{% block scripts %}
    {{ encore_entry_script_tags('cmsList', null, 'front_office') }}
{% endblock %}