{% extends '@fo/layout.html.twig' %}
{% block title %}Espace pro{% endblock %}

{% block links %}
    {{ encore_entry_link_tags('proServiceList', null, 'front_office') }}
{% endblock %}

{% block main %}
    <hr class="sep-header">
    <h2 class="pop-sBold pro_title" href="#">Services</h2>
    <a href="{{ path('proDevis') }}" class="devis pop">Demander un devis</a>
    <div class="listServicePro">

        {% for proService in proServices %}
            <div class="container_article fullCenter alignInit">
                <article class="pop service">
                    <p class="iconePro serge"></p>
                    <img src="{{ vich_uploader_asset(proService, 'imageFile') }}">
                    <div class="pro_informations fullCenter">
                        <div class="centerBetween pro_informations-header">
                            <h3>{{ proService.name }}</h3>
                            <div class="refPro center">
                                <p>Référence :</p>
                                <h4>{{ proService.reference }}</h4>
                            </div>
                        </div>
                        <p class="miniDescription">{{ proService.shortDescription }}</p>
                    </div>
                    <p>200 €</p>
                </article>
                <div class="text_container">
                    <p class="hiddenText">{{ proService.description }}<br/>
                        Le prix de ce service est de {{ proService.price }} € par mois.
                    </p>
                </div>
            </div>
        {% endfor %}

    {% if proServices is not null %}
        {{ paginate(proServices, 'proServiceList') }}
    {% endif %}

    </div>
{% endblock %}

{% block scripts %}
    {{ encore_entry_script_tags('proServiceList', null, 'front_office') }}
{% endblock %}