{% set slug = slug ? { slug: slug }: {} %}

{% set nextPathParams = slug|merge({
    page: paginable.currentPage + 1
}|default({})) %}

{% set prevPathParams = slug|merge({
    page: paginable.currentPage - 1
}|default({})) %}

{% if paginable.currentPage > 1 %}
    <div class="paginator">
        <a href="{{ path(route, prevPathParams) }}"
           class="button pop page-previous previous">
            {{ 'Previous'|trans|raw }}
        </a>

        <div class="page button pop current"> {{ paginable.currentPage }} </div>

        {% if (paginable.currentPage * paginable.maxPerPage) < paginable.nbResults %}
            <a href="{{ path(route, { page: paginable.currentPage + 1 }) }}"
               class="button pop page-next next">
                {{ 'Next'|trans|raw }}
            </a>
        {% endif %}
    </div>
{% elseif paginable.nbResults > firstPageResults|default(4) %}
    <div class="paginator">
        <a href="{{ path(route, nextPathParams) }}" class="button pop">{{ 'seeMore'|trans|raw }}</a>
    </div>
{% endif %}